@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reservations";
}
@model Dictionary<int, List<DataAccess.Models.Reservation>>

<!-- Vanilla Calendar CSS -->
<link href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@2.9.6/build/vanilla-calendar.min.css" rel="stylesheet" />

<!-- Vanilla Calendar Container -->


<!-- Vanilla Calendar JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@2.9.6/build/vanilla-calendar.min.js"></script>



<div id="calendar"></div>

<div id="ReservationTable">
    <table>
        <thead>
            <tr>
                <th>Time/Court</th>
                @foreach (var court in Model.Keys)
                {
                    <th>Court @court</th>
                }
            </tr>
        </thead>
        <tbody id="reservationBody">
            @for (var hour = 6; hour <= 21; hour++)
            {
                <tr>
                    <td>@hour:00</td> 
                    @foreach (var court in Model.Keys)
                    {
                        
                        var reservation = Model[court].FirstOrDefault(r => r.StartTime.Hour == hour);
                        if (reservation != null)
                        {
                            <td class="reservation reservation-cell"
                                data-userid="@reservation.UserId"
                                data-reservationid="@reservation.Id"
                                data-courtid="@court"
                            >
                                Booked
                            </td>
                        }
                        else
                        {
                            <td class="reservation-cell"
                                data-courtid="@court"
                            ></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>

</div>

<div id="ReservationModalContainer">
    @await Component.InvokeAsync("CreateReservation")
</div>


<script src="~/js/Reservation.js"></script>
    
